{{ if .Site.Params.enableSharing }}
    <div class="share-bar" style="margin-bottom: 1em;">
        <span class="share-buttons">
    
            Like it? Share it.<br />
    
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" title="Share on Facebook"
                target="_blank">
                <i class="fab fa-facebook-f"></i>
            </a>
    
            <a href="https://twitter.com/intent/tweet?text={{ .Site.Title }} {{ .Title }}&url={{ .Permalink }}{{- if .Params.Tags }}&hashtags={{ delimit .Params.Tags `,` }}{{- end }}"
                title="Share on Twitter" target="_blank">
                <i class="fab fa-twitter"></i>
            </a>
    
            <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink }}&title={{ .Title }}&summary={{ .Summary }}&source={{ .Site.Title }}"
                title="Share on LinkedIn" target="_blank">
                <i class="fab fa-linkedin-in"></i>
            </a>
    
            <a href="whatsapp://send?text={{ .Site.Title }} {{ .Title }} {{ .Permalink }}"
                data-action="share/whatsapp/share" title="Share using WhatsApp" target="_blank">
                <i class="fab fa-whatsapp"></i>
            </a>
        </span>
    </div>
{{ end }}