* {
  @include box-sizing;
  line-height: 1.6;
}

html,
body {
  @include theme('color',$default-color);
  margin: 0;
  padding: 0;
}

html {
  font-family: $serif-primary;
  font-size: 1rem;
  overflow-y: scroll;

  font-size: $base-font-size;

  @include theme('background',$default-background);
}

body {
  counter-reset: sidenote-counter;
  -webkit-text-size-adjust: 100%;

  -webkit-hyphens: auto;
     -moz-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $sans-serif;
  line-height: normal;
  hyphens: none;
  font-weight: 800;
}

p {
  font-variant-numeric: oldstyle-nums;
}

a {
  @include theme('color',$default-color);
  text-decoration: none;
}

blockquote {
  margin: 0 2.5em;
}

strong {
  font-weight: normal;
}

img {
  display: block;
  margin: 0 0 1rem;
  max-width: 100%;
}

hr {
  border-top: solid 0.02em;
  @include theme('border-color',$grey-2);
  color: transparent;
  margin-bottom: 1em;
}

table {
  margin: 0 auto 1em;
}

th, td {
  padding-left: 0.3em;
  padding-right: 0.3em;
  vertical-align: top;
}

th {
  font-family: $sans-serif;
  font-size: 1.1em;
}

input, textarea {
  font-family: $serif-primary;
  font-size: 1em;
  border: none;
  padding: 0.2em 0.5em;
  width: 100%;
  resize: vertical;
  background: none;
  @include theme('color',$default-color);

  &:focus {
    outline: none;
  }
}