pre,
code {
  font-family: $monospaced;
  font-variant-numeric: lining-nums;
  font-size: 0.8em;
}

code {
  @include theme('background-color',$grey-3);
  border-radius: 0.25em;
  padding: 0 0.25em;
  hyphens: none;
  word-break: break-word;
}

pre {
  margin: 0 0 1rem;
}

pre code {
  background-color: transparent;
  color: inherit;
  font-size: 100%;
  padding: 0;
}

.highlight {
  background-color: $code-background;
  border-radius: 0.2em;
  line-height: 1.4;
  margin: 0 0 1rem;
  padding: 1rem;

  pre {
    margin-bottom: 0;
    overflow-x: auto;
  }

  .lineno {
    @include theme('color',$default-tint);
    display: inline-block; // Ensures the null space also isn't selectable
    padding: 0 .75rem 0 .25rem;
    // Make sure numbers aren't selectable
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
}
