/* alegreya-regular - latin-ext_latin */
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
       url('/fonts/alegreya-regular.woff2') format('woff2'),
       url('/fonts/alegreya-regular.woff') format('woff'),
}

/* alegreya-italic - latin-ext_latin */
@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local(''),
       url('/fonts/alegreya-italic.woff2') format('woff2'),
       url('/fonts/alegreya-italic.woff') format('woff'),
}

/* alegreya-sans-extrabold - latin-ext_latin */
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local(''),
       url('/fonts/alegreya-sans-extrabold.woff2') format('woff2'),
       url('/fonts/alegreya-sans-extrabold.woff') format('woff');
}

@font-face {
  font-family: 'Fira mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
       url('/fonts/fira-mono-regular.woff2') format('woff2'),
       url('/fonts/fira-mono-regular.woff') format('woff');
}