@media (min-width: 90em) {
  html {
    font-size: 1.2 * $base-font-size;
  }
}

@media (min-width: 37.5em) {
  .nav {
    &-container {
      text-align: left;
    }

    ul {
      bottom: 0;
      position: absolute;
      right: 0;
    }
  }
}

@media (max-width: 37.5em) {
  * {
    line-height: 1.45em;
  }

  html {
    font-size: 1.1 * $base-font-size;
  }

  blockquote {
    margin: 0 0 0 2em;
  }

  .post-title {
    font-size: 2.5em;
  }

  .post .drop-cap {
    font-size: $drop-cap-size-small;
  }

  .nav {
    &-title {
      font-size: 2em;
      margin-top: 1em;
    }

    &-container {
      ul {
        font-size: 1.3em;

        a {
          color: $grey-1;
        }
      }
    }
  }

  .share-bar {
    .share-buttons {
      font-size: 1.1em;

      a {
        margin: 0 0.25em;
      }
    }
  }
}