// Colors
$default-color: #222;
$default-background: #fff;
$default-tint: #aaa;
$grey-1: #979797;
$grey-2: #e5e5e5;
$grey-3: #f9f9f9;
$shadow-color: rgba(0, 0, 0, .2);
$base-font-size: 1.2rem;
$fa-font-path: "/fonts";

@mixin box-sizing($type: border-box) {
  -webkit-box-sizing: $type;
     -moz-box-sizing: $type;
          box-sizing: $type;
}

@mixin transition($args...) {
  -webkit-transition: $args;
     -moz-transition: $args;
          transition: $args;
}

@mixin accented-background {
  outline: none;
  transition: all .2s ease-out;
  background: linear-gradient($accent-color, $accent-color);
  background-size: 100% .2em;
  background-repeat: no-repeat;
  background-position: left 0 bottom 0;
}

@mixin non-distracting-link {
  text-decoration: none;
  background: linear-gradient($default-background, $default-background), linear-gradient($default-background, $default-background), linear-gradient($default-color, $default-color);
  background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  background-repeat: no-repeat, no-repeat, repeat-x;
  text-shadow: 0.03em 0 $default-background, -0.03em 0 $default-background, 0 0.03em $default-background, 0 -0.03em $default-background, 0.06em 0 $default-background, -0.06em 0 $default-background, 0.09em 0 $default-background, -0.09em 0 $default-background, 0.12em 0 $default-background, -0.12em 0 $default-background, 0.15em 0 $default-background, -0.15em 0 $default-background;
  background-position: 0% 93%, 100% 93%, 0% 93%;
}