{{ define "main" }}

<main>
	<div class="post">
		{{ partial "single/post-info.html" . }}
		{{ partial "single/title.html" . }}

		{{ partial "single/header.html" . }}

		<!-- Content -->
		<section class="post-content">
			{{- $Content := .Content -}}
			{{- if .Site.Params.DropCap.Enable }}
			{{- $regexPatternDropCap := `(<p>)([^<])(.+(< /p>|\n))` -}}
			{{- $regexReplacementDropCap := `$1<span class="drop-cap">$2</span>$3` -}}
			{{- $firstParagraphOld := (delimit (findRE $regexPatternDropCap $Content 1) " ") -}}
			{{- $firstParagraphNew := (replaceRE $regexPatternDropCap $regexReplacementDropCap $firstParagraphOld) -}}
			{{- $Content = replace $Content $firstParagraphOld $firstParagraphNew -}}
			{{- end }}
			{{- $Content | replaceRE "\\b([A-Z][A-Z0-9\\-]{2,})\\b" "<abbr>$1</abbr>" | safeHTML -}}
		</section>
		<!-- End content -->
		{{ if .Site.Author.patreon }}
			{{ partial "single/patreon.html" . }}
		{{ else if .Site.Author.liberapay }}
			{{ partial "single/liberapay.html" . }}
		{{ else if .Site.Author.razorpay }}
			{{ partial "single/razorpay.html" . }}
		{{ end }}
		{{ partial "single/footer.html" . }}
	</div>
	{{ partial "single/share.html" . }}
	{{ partial "single/related.html" . }}
	{{ partial "single/gitinfo.html" . }}
	{{ partial "single/tinyletter.html" . }}
	{{- if .Params.Tags }}
		<div class="hidden">{{ delimit .Params.Tags ", " }}</div>
	{{- end }}

	<div class="pagination">
		{{- if .PrevPage }}
		<a href="{{ .PrevPage.RelPermalink }}" class="left arrow">&#8592;</a>
		{{- end }}
		{{- if .NextPage }}
		<a href="{{ .NextPage.RelPermalink }}" class="right arrow">&#8594;</a>
		{{- end }}

		<a href="#" class="top">Top</a>
	</div>
</main>

{{ end }}
