// Config-based customisation
$code-color: {{ .Site.Params.CodeColour | default "#bf616a"}};
$accent-color: {{ .Site.Params.AccentColour | default "#ffd900"}};
$code-background: {{ .Site.Params.CodeBackground | default "#272822" }};

// Fonts
$serif-primary: {{ .Site.Params.SerifFont | default "Alegreya" }}, 'Times New Roman', Times, serif;
$serif-secondary: {{ .Site.Params.SecondarySerifFont | default "Alegreya" }}, Palatino, 'Palatino LT STD', 'Palatino Linotype', 'Book Antiqua', 'Georgia', serif;
$sans-serif: {{ .Site.Params.SansSerifFont | default "Alegreya Sans"}}, Helvetica, Arial, sans-serif;
$monospaced: {{ .Site.Params.MonospaceFont | default "Fira Mono"}}, Menlo, Consolas, monospace;

// Drop caps
$drop-cap-size: {{ .Site.Params.DropCap.FontSize | default "5.8em" }};
$drop-cap-size-small: {{ .Site.Params.DropCap.SmallScreenFontSize | default "5.2em" }};
$drop-cap-margins: {{ .Site.Params.DropCap.Margins | default "-0.09em 0.03em -0.1em -0.05em" }};

{{  if (not .Site.Params.FontUrl) }}
    @import 'typographical/fonts';
    {{ if .Site.Params.EnableDevanagari }}
        @import 'typographical/devanagari';
    {{ end }}
{{ end }}

// Import the rest
@import 'typographical/variables';
@import 'typographical/base';
@import 'typographical/code';
@import 'typographical/post';
@import 'typographical/layout';
@import 'typographical/pagination';
@import 'typographical/catalogue';
@import 'typographical/tweaks';
@import 'typographical/slider'