<a href="{{ .Permalink | relURL }}" class="catalogue-item">
    <div>
        <time datetime="{{ .PublishDate }}" class="catalogue-time">{{ i18n "publishdate" . }}</time>{{ if .Site.Params.DisplayReadTime }}<span class="catalogue-time"> | {{ .ReadingTime }}&nbsp;minute read</span>{{ end }}
        <h1 class="catalogue-title">{{ .Title }}</h1>
        <div class="catalogue-line"></div>

        <p>
            {{ if isset .Params "summary" }}{{ .Params.Summary | markdownify | replaceRE "\\b([A-Z][A-Z0-9\\-]{2,})\\b" "<abbr>$1</abbr>" | safeHTML }}{{ else }}{{ .Summary | replaceRE "\\b([A-Z][A-Z0-9\\-]{2,})\\b" "<abbr>$1</abbr>" | safeHTML }}{{ end }}
        </p>
    </div>
</a>
