{{ $countryCode := .Site.Params.CountryId | default "us" }}
{{ if .Site.Params.ApplePodcastsId }}
    <iframe
        src="https://embed.podcasts.apple.com/{{ $countryCode }}/podcast/{{ .Site.Params.ApplePodcastsId }}?i={{ if .Page.Params.Episode.apple }}{{ .Page.Params.Episode.apple }}{{ else }}{{ .Get 0 }}{{ end }}&amp;itsct=podcast_box&amp;itscg=30200&amp;theme=dark"
        height="175px" frameborder="0"
        sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation-by-user-activation"
        allow="autoplay *; encrypted-media *;"
        style="width: 100%; overflow: hidden; border-radius: 10px; background: transparent;">
    </iframe>
{{ end }}