{{ $appleEpisodeId := .Get 0 }}
{{ $countryCode := .Site.Params.CountryId | default "us" }}
{{ with .Site.Params.ApplePodcastsId }}
    <iframe
        src="https://embed.podcasts.apple.com/{{ $countryCode }}/podcast/{{ . }}?i={{ $appleEpisodeId }}&amp;itsct=podcast_box&amp;itscg=30200&amp;theme=dark"
        height="175px" frameborder="0"
        sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation-by-user-activation"
        allow="autoplay *; encrypted-media *;"
        style="width: 100%; overflow: hidden; border-radius: 10px; background: transparent;">
    </iframe>
{{ end }}