{{ if .Site.Params.ContactForm.Id }}
    <form id="contact-form" class="contact-form" method="post" action="https://formspree.io/f/{{ .Site.Params.ContactForm.Id }}" />
        <input type="text" name="name" placeholder="{{ .Site.Params.ContactForm.NamePlaceholder | default "Your name" }}" />
        <input type="email" name="email" placeholder=" {{ .Site.Params.ContactForm.EmailPlaceHolder | default "Your email" }}" />
        <textarea name="message" placeholder="{{ .Site.Params.ContactForm.MessagePlaceholder | default "Your message" }}"></textarea>
        <input type="submit" value="{{ .Site.Params.ContactForm.Submit | default "Send" }}" />
    </form>
{{ end }}