{{- $pc := .Page.Site.Config.Privacy.Instagram -}}
{{- if not $pc.Disable -}}
    {{- if $pc.Simple -}}
        {{ template "_internal/shortcodes/instagram_simple.html" . }}
    {{- else -}}
        {{ $id := .Get 0 }}
        {{ $hideCaption := cond (eq (.Get 1) "hidecaption") "1" "0" }}
        {{ $accessToken := print .Site.Params.fbAppId "|" .Site.Params.fbAccessToken }}
        {{ $url := printf "https://graph.facebook.com/v8.0/instagram_oembed/?url=https://instagram.com/p/%s/&hidecaption=%s&access_token=%s" $id $hideCaption $accessToken }}
        {{ with resources.GetRemote $url | transform.Unmarshal }}{{ .html | safeHTML }}{{ end }}
    {{- end -}}
{{- end -}}