{{ $applePodcasts := .Site.Params.applePodcastsId }}
{{ $googlePodcasts := .Site.Params.googlePodcastsId }}
{{ $message := .Get 0 | default "Listen to this post on your favourite podcast platform." }}
{{ with .Page.Params.Episode }}
    <div class="podcast-badge">
        <p>{{ $message }}</p>
        {{ with .Apple }}
            <a href="https://podcasts.apple.com/podcast/{{ $applePodcasts }}?i={{ . }}" target="_blank">
                <img src="/images/podcast/apple-podcasts.svg" alt="Listen on Apple Podcasts">
            </a>
        {{ end }}
        {{ with .Google }}
            <a href="https://podcasts.google.com/feed/{{ $googlePodcasts }}/episode/{{ . }}" target="_blank">
                <img src="/images/podcast/google-podcasts.svg" alt="Listen on Google Podcasts">
            </a>
        {{ end }}
        {{ with .Spotify }}
            <a href="https://open.spotify.com/episode/{{ . }}" target="_blank">
                <img src="/images/podcast/spotify-podcast.svg" alt="Listen on Spotify">
            </a>
        {{ end }}
    </div>
{{ end }}